@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700&display=swap');

$icon_state : "play" ;


*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  //font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  //font-size: 90%
}

:root{
  --font-size-sm: clamp(0.5rem, 0.84vw + 0.37rem, 1.17rem);
  --font-size-base: clamp(0.63rem, 1.17vw + 0.44rem, 1.56rem);
  --font-size-md: clamp(0.78rem, 1.62vw + 0.53rem, 2.08rem);
  --font-size-lg: clamp(0.98rem, 2.24vw + 0.63rem, 2.78rem);
  --font-size-xl: clamp(1.22rem, 3.09vw + 0.74rem, 3.7rem);
  --font-size-xxl: clamp(1.53rem, 4.24vw + 0.86rem, 4.93rem);
  --font-size-xxxl: clamp(1.91rem, 5.81vw + 1rem, 6.58rem);
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background: lightgray;
}

::-webkit-scrollbar-thumb{
  background: gray;
}

ul{
  list-style-type: none;
  li{
    cursor: pointer !important;
  }
}

.able-wrapper{
  &:fullscreen{
    overflow: auto !important;
  }
  .able{
    &:fullscreen{
      margin: 0 !important;
    }
    .able-media-container{
      position: relative !important;;
      .able-big-play-button{
        width: 100% !important;
        height: 100% !important;;
      }
    }
    .able-captions-wrapper-on{
      display: block;
    }
    .able-captions-wrapper-off{
      display: none;
    }
  }

}


.able-player{
  padding: 5px 5px;
  display: block !important;
  &.able-player-none{
    display: none !important;
  }
  .able-now-playing{
    display: none;
  }
  .able-controller, .able-white-controls{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 100%;
    place-content: center;
    width: 100%;
    height: 100%;
    div[role=button]{
      display: grid;
      place-content: center;
      width: 100%;
      height: 100%;
      grid-template-columns: 100%;
      place-items: center;
      margin: 0;
      position: static;
      z-index: inherit;
    }
    .able-tooltip, #video1-captions-menu{
      display: none;
      position: absolute;
      top: -103%;
      width:max-content;
      padding: 6px;
      border-radius: 5px;
      color: black !important;
      /* left: 359px; */
      &.able-tooltip-hide{
        display: none;
      }
    }
    .able-left-controls{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, max-content);
      place-items: center;
      grid-gap: 3px;
      #pause {
        display: none;
      }
      .able-button-handler-forward, .able-button-handler-rewind, .able-button-handler-restart{
        display: none;
      }
      #volume{
        .able-button-handler-volume{
          display: grid;
          place-content: center;

        }
        .able-volume-slider{
          height: 100px !important;
          position: absolute !important;;
          left: 25px !important;;
          top: inherit !important;;
          bottom: 50px !important;;
          .able-volume-track{
            border: none;
            .able-volume-track-on{
              /* height: 64px; */
              top: inherit !important;
              left: 0 !important;
              right: 0 !important;
              bottom: 0 !important;
            }
          }
        }
      }
      .able-popup{
        display: none;
        ul{
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: repeat( 6, 16% );
          li{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 30px 1fr;
            padding: 4px;
            /* grid-auto-flow: column; */
            input{
              place-self: center;
              padding: 10px;
              cursor: inherit;
              /* width: 85%; */
              /* height: 100%; */
            }
            label{
              cursor: inherit;
            }
            span{
              display: none;
            }
          }
        }
        &.able-popup-access{
          position: absolute !important;
          left: 0 !important;;
          bottom: 45px !important;;
          top: initial !important;;
          /* display: none; */
          padding: 6px;
        }
      }
    }

    .able-seekbar-wrapper{
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      display: grid;
      place-content: center;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      place-items: center;
      /* position: relative; */
      margin: 0;
      .able-seekbar{
        margin: 0;
        width: 100%;
        height: 12px;
        position: relative;
        z-index: inherit;
        /* height: fit-content; */
        padding: 0;
        /* display: none; */
        .able-seekbar-played{
          display: none;
        }
        .able-seekbar-loaded, .able-seekbar-played{
          height: 100%;
          left: -1px;
          max-width: 100%;
        }
        .able-seekbar-head{
          top: -0.15em;
          display: none;
        }
      }
    }
    .able-right-controls{
      display: grid;
      grid-template-columns: repeat(3, max-content);
      width: 100%;
      height: 100%;
      grid-auto-flow: column;
      grid-gap: 3px;
      .able-timer{
        display: grid;
        place-content: center;
        margin: 0px 3px;
        font-size: 10px;
      }
      .able-button-handler-forward, .able-button-handler-volume, .able-button-handler-transcript, .able-button-handler-faster, .able-button-handler-slower, .able-button-handler-preferences, >span>img{
        display: none;
      }
      #fullscreen-close{
        display: none;
      }
      .able-popup{
        display: none;
        ul{
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: repeat( 6, 16% );
          li{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 30px 1fr;
            padding: 4px;
            /* grid-auto-flow: column; */
            input{
              place-self: center;
              padding: 10px;
              cursor: inherit;
              /* width: 85%; */
              /* height: 100%; */
            }
            label{
              cursor: inherit;
            }
            span{
              display: none;
            }
          }
        }
        &.able-popup-captions{
          position: absolute !important;
          right: 0 !important;;
          bottom: 45px !important;;
          top: initial !important;;
        }
      }
    }

  }
  .able-status-bar{
    display: none;
  }
}

#seekbarr{
  width: 100% !important;
  z-index: 7000 !important;
  &.ui-slider{
    background-color: transparent;
    border: none;

  }
  .ui-slider-range { background: #dadada; border: none; }
  .ui-slider-handle { border: none; border-radius: 100% }
}

#volumeSlider{
  &.ui-slider{
    width: 100%;
    height: 100%;
    z-index: 7000 !important;
    background: #000000;
    border-radius: inherit;
    .ui-slider-range{
      background: #fdfdfd;
      border-radius: inherit;
    }
    .ui-slider-handle{
      width: 25px;
      height: 10px;
      border-radius: inherit;
      left: -10px;
    }
  }
}


.able-popup-captions li[aria-checked=true]::before{
  content: none !important;
}
