@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700&display=swap');

$icon_state : "play" ;


*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  //font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  //font-size: 90%
}

:root{
  --font-size-sm: clamp(0.5rem, 0.84vw + 0.37rem, 1.17rem);
  --font-size-base: clamp(0.63rem, 1.17vw + 0.44rem, 1.56rem);
  --font-size-md: clamp(0.78rem, 1.62vw + 0.53rem, 2.08rem);
  --font-size-lg: clamp(0.98rem, 2.24vw + 0.63rem, 2.78rem);
  --font-size-xl: clamp(1.22rem, 3.09vw + 0.74rem, 3.7rem);
  --font-size-xxl: clamp(1.53rem, 4.24vw + 0.86rem, 4.93rem);
  --font-size-xxxl: clamp(1.91rem, 5.81vw + 1rem, 6.58rem);
}


.able-player{
  padding: 5px 5px;
  display: block !important;
  .able-now-playing{
    display: none;
  }
  .able-controller, .able-white-controls{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 100%;
    place-content: center;
    width: 100%;
    height: 100%;
    div[role=button]{
      display: grid;
      place-content: center;
      width: 100%;
      height: 100%;
      grid-template-columns: 100%;
      place-items: center;
      margin: 0 5px;
      display: grid;
      place-content: center;
    }
    #video1-tooltip, #video1-captions-menu{
      display: none;
    }
    .able-left-controls{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, max-content);
      place-items: center;
      .able-button-handler-forward, .able-button-handler-rewind, .able-button-handler-restart{
        display: none;
      }
      .able-button-handler-volume{
        display: grid;
        place-content: center;

      }
    }

    .able-seekbar-wrapper{
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      display: grid;
      place-content: center;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      place-items: center;
      /* position: relative; */
      margin: 0;
      .able-seekbar{
        margin: 0;
        width: 100%;
        height: 12px;
        position: relative;
        /* height: fit-content; */
        padding: 0;
        /* display: none; */
        .able-seekbar-loaded, .able-seekbar-played{
          height: 100%;
          left: -1px;
          max-width: 100%;
        }
        .able-seekbar-head{
          top: -0.15em;
        }
      }
    }
    .able-right-controls{
      display: grid;
      grid-template-columns: repeat(3, max-content);
      width: 100%;
      height: 100%;
      grid-auto-flow: column;
      /* grid-auto-rows: 100%; */
      .able-timer{
        display: grid;
        place-content: center;
        margin: 0px 3px;
        font-size: 10px;
      }
      .able-button-handler-forward, .able-button-handler-volume, .able-button-handler-transcript, .able-button-handler-faster, .able-button-handler-slower, .able-button-handler-preferences, >span>img{
        display: none;
      }
    }

  }
  .able-status-bar{
    display: none;
  }
}


